/* .cards {
    border: solid 2px;
    box-shadow: 1px 1px 1px 1px #d0d0d0;
    width: 32%;
    height: 30%;
    height: 200px;
    width: 500px;
    width: 30rem;
    height: 10rem;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
} */

/* @media screen and (max-width: 1200px) {
    .cards {
        font-size: smaller;
    }

    .cards-info {
        font-size: smaller;
    }
} */

/* .image-carde {
    border: solid green 2px;
    min-width: 50%;
}

.cards-info {
    border: solid purple 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
} */

